.parameter{
	display: block;
	overflow: hidden;
	border-top: 1px solid #ddd;
	.bg-bai;
	.sec{
		height: 28px;
		line-height: 28px;
		span{
			margin-right: 4px;
		}
		a{
			margin-right: 12px;
		}
	}
	.showcase{
		display: none;
		overflow: hidden;
	}
	.showbtn{
		text-align: center;
		border-top: 1px solid #ddd;
		height: 32px;
		line-height: 32px;
		color: #313131;
		font-size: 12px;
		background: url(../../images/ic-arrowdown.png) 580px center no-repeat;
	}
}